@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.container{
    background-image: url('../public/images/main-bg.jpeg');
    padding-top: 40px; 
    background-size: 100% 100%;
    min-width: 100%;
    min-height: 100vh;
    font-family: "Open Sans"; 
}

.contentGameDetail{
    width: 65% !important;
}

.imageGameSize {
    width: 16em;
    border-radius: 20px;
    height: 16em;
}

.fontFamily {
    font-family: "Open Sans"; 
    color: white;
    font-size: 1.2em;
}
    
.fontGameName{
    font-family: "Open Sans"; 
    color: white;
    font-size: 4em;
}

.fontGameDesc{
    font-family: "Open Sans"; 
    color: white;
    font-size: 1em;
}

.leaderboardTable{
    margin: auto;
    width: 50% !important; 
    color: white;
}

.removeHighlight{
    color: black;
    text-decoration: none;
    font-family: "Open Sans"; 
}