@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

.containerProfile {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url('../public/images/login/login-bg.jpeg');
  display: flex;
  justify-content: center;
  padding-top: 20px;
  background-size: 100% 100%;
  min-width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: 'Quicksand', Courier, monospace;
}

.titleProfile {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 35px;
  font-family: 'Open Sans';
}

.profileForm {
  border: 8px solid #eceaea;
  border-radius: 1em;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  padding: 2em;
  padding-top: 130px;
  text-align: left;
  width: 430px;
  height: 520px;
  background: rgba(255, 255, 255, 1);
}

.boxProfile {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 8px;
  border-radius: 0.5em;
  margin-top: 120px;
  width: 380px;
  height: 130px;
  background-color: #007bff;
}

.fontSize {
  font-size: 13px;
}

.buttonProfile {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
