@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/* body {
  overflow: hidden;
} */

.containerRegister {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url('../public/images/register/register-bg.jpeg');
  display: flex;
  justify-content: center;
  padding-top: 10px;
  background-size: 100% 100%;
  min-width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: 'Quicksand', Courier, monospace;
}

.titleRegister {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 35px;
  font-family: 'Open Sans';
}

.registerForm {
  border: 8px solid #eceaea;
  border-radius: 1em;
  justify-content: center;
  /* margin-bottom: 1em; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  padding: 2em;
  padding-top: 110px;
  text-align: left;
  width: 380px;
  height: 540px;
  /* background-color: #e4e4e4; */
  background: rgba(255, 255, 255, 1);
}

.boxRegister {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 8px;
  border-radius: 0.5em;
  margin-top: 120px;
  width: 340px;
  height: 120px;
  background-color: #007bff;
}

.buttonRegister {
  display: flex;
  justify-content: center;
  margin-top: 26px;
}

.form-control {
  height: 100% !important;
}

@media screen and (max-width: 1000px) {
  .containerRegister {
    width: 100%;
    padding: 0;
  }
}
